<!doctype html>
<html>

<head>
    <title>Resonant Principles ☀️</title>
    <meta name="description" content="landing page">
    <meta name="keywords" content="html resonant principles">
    <link rel="stylesheet" href="static/styles.css">
</head>

<body>
    <h1>Resonant Principles ☀️</h2>
        <p>
            This website contains curated principles, mental models, mindsets, and thoughts that resonate with me and
            have tremendously benefited my life.
        </p>
        <p>
            A <b>Principle</b> is a general rules or guideline that is meant to be applied in a wide range of
            situations. Principles are often based on fundamental truths or laws, and they can be used to guide
            behavior, decision-making, and problem-solving. Principles are often abstract and can be difficult to
            define, but they are essential for understanding and predicting the behavior of complex systems.
        </p>
        <p>
            A <b>Mental Model</b> is a cognitive structure that represents an individual's understanding of how
            something works. It can be thought of as a mental representation of a system or concept, and it helps us
            make predictions and decisions based on our understanding of that system. Mental models can be specific to a
            particular domain or subject, or they can be more general and apply to a wider range of situations.
        </p>
        <p>
            A <b>Mindset</b> is ...
        </p>
        <h2>Table of Contents</h2>
        <ol>
            <li>Principles</li>
            <li>Mental Models</li>
            <li>Mindsets</li>
            <li>Nascent Thoughts</li>
            <li>Helpful Definitions</li>
        </ol>
</body>

</html>